.tdmgr {
    width: 70%;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width:100%) {

    .tdmgr {
        width: 70%;
        margin-left: auto;
        margin-right: auto
    }
}

@media screen and (max-width:800px) {
    .tdmgr {
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }
}


